a{
	font-style: italic;
}
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}
.delete {
	color:#8B0000;
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}



.vote {
	color:#006400;
  float: left;
  font-weight: bold;
  background: none;
  border: 5px;
  position: relative;
}