/********************/
/* Main Style sheet */
/********************/

body {
  font-family: sans-serif;
  background-attachment: fixed;
  background-image: url('/img/living.jpg');
}
/*#mainCont{
    max-width: 1024px;
      padding: 0;


}*/

/** Global **/

.container {
  max-width: 1024px;
  padding: 0;
}

/**  Header  **/
#letitre{
font-size: 1.7em;
  color:#FFF;
}

.navbar{
 margin:0;

}
#mainMenu{
  padding: 1.5%;
  background: #214471;
}

.navbar-brand {

}

#collapsedContent .btn-group {
  margin-right: 5px;
  margin-left:10px;
}
#collapsedContent .bestOfToday {
  margin-right: 5px;
  margin-left:10px;
}
#logbtn{
  border:2px;
  border-color: black;
}


/** eventslist **/
.events-list .container {
  background-color: hsla(0,100%,100%,0.2);
}

.events-list ul {
  list-style: none;
  background: white;
  padding: 0;
  margin:0;
}
.events-list a{
  font-style: italic;
}
.events-list li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #EEE solid 1px;
  background-color: #FFF;
  margin:0;
}


.events-list li .text {
}
  /* specific coevents*/


  .events-list .delete {
    color:#8B0000;
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
  }
  .events-list .vote {
    color:#006400;
    float: left;
    font-weight: bold;
    background: none;
    border: 5px;
    position: relative;
    overflow:auto
  }
  /* Specific fb*/
  .events-list .to-add {
    color:#006400;

  }


/** Footer **/
footer .container{
  background-color:#214471;
  padding: 1%;
  position:relative;
  bottom:0px;
  color:#000;

}
.add-coev {
  z-index:99999;
}
.add-coev form {
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.add-coev input {
  padding: 10px 10px;
  background: transparent;
  border: thin;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: #999;
  position:fixed bottom;
}

.add-coev input:focus{
  outline: 0;
}

.buttonBas {

  color: black;
}

