/* Main Style sheet */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-attachment: fixed;
  background-image: url('/img/living.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.mainContainer {
  max-width: 1024px;

 /* margin: 0 auto;
  min-height: 100%;*/
  background: #FCFCFC;
  padding: 0px 0px 0px 0px;
}

header {
  background: #214471;
  padding: 2%;
  position: relative;
  color:#CCC;
}

.bottombar {
  background: #214471;
  padding: 1% 0px 1% 0px;
  color:#CCC;
  position:fixed;
  bottom:0px;
  width:100%  ;


}
.addBar {


}

#login-buttons {
  display: block;
}

.letitre {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  color: #FFF
}

form {
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.add-coev input {
  padding: 10px 10px;
  background: transparent;
  border: thin;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: #999;
/*  position:fixed bottom;
*/}

.add-coev input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}




header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}


/*Bar on top of screen*/
.buttonBar {
  color:#000;
}