<template name="addCoev" >

    <div class="dropdown dropup">
        <button class="btn btn-success buttonBas dropdown-toggle btn-block " type="button" data-toggle="dropdown" id="addCoevButton" >
            <span class="glyphicon glyphicon-plus"></span> Add an event
        </button>

        <div class="dropdown-menu dropup add-coev">
            <form>
                <input type="text" class="form-control" name="nameCoev" placeholder="Nom de l'évènement" />
                <div class="input-group date">

                <input class="set-due-date form-control" type="date" name="dateCoev" placeholder="date" id="dateEv"/>
                </div>
                <input type="text" class="form-control" name ="urlCoev" placeholder="site" novalidate="novalidate"/>
                <input type="submit" class="btn glyphicon glyphicon-plus"/> 
            </form>
        </div>
    </div>

</template>