<template name="header">

    <header> 
       <h1>Agenda Collab</h1>
        <!-- {{> loginButtons}} -->
       	<div class="btn-group" role="group" label="group" aria-label="...">
	       	<button class="trending btn buttonBar">Trending</button>
	       	<button class="upcoming btn buttonBar">Upcoming</button>
			<button class="new btn buttonBar">Newest</button>
       	</div>
       	<button class="bestOfToday btn buttonBar">Today's best</button>

       	
       	{{> addCoev}}
		
    </header>
 
</template>