<template name="menu">

<div class="supraBar">
      <span  class="letitre">Agenda Collab</span>
    <!-- <div class="nav-collapse collapse"> -->

          <div class="btn-group" role="group" label="group" aria-label="...">
        	  <button class="trending btn buttonBar">Trending</button>
        	  <button class="upcoming btn buttonBar">Upcoming</button>
        		<button class="new btn buttonBar">Newest</button>
          </div>

            <button class="bestOfToday btn buttonBar">Today's best</button>

          <div class="navbar-right"> 
            {{> loginButtons}}
          </div>
    <!-- </div> -->


</div> <!-- navbar -->


</template>