<template name="menu">

<div class="navbar ">
  <div class="container-fluid">
    <h1  class="letitre">Agenda Collab</h1>
    <div class="btn-group" role="group" label="group" aria-label="...">
  	  <button class="trending btn buttonBar">Trending</button>
  	  <button class="upcoming btn buttonBar">Upcoming</button>
  		<button class="new btn buttonBar">Newest</button>
    </div>
      <button class="bestOfToday btn buttonBar">Today's best</button>
    <div class="navbar-right"> 
      {{> loginButtons align="left"}}
    </div>
  </div> <!-- container -->
</div> <!-- navbar -->

<div class="container-fluid">
  {{> addCoev}}
</div>
</template>