.coeventslist ul{

   padding-left: 0px;
}
.coeventslist a{
	font-style: italic;
}
.coeventslist li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #EEE solid 1px;
  background-color: #FFF;
  margin:0;
}

.coeventslist li .text {
  margin-left: 10px;
}

.coeventslist li.checked .text {
  text-decoration: line-through;
}

.coeventslist .delete {
	color:#8B0000;
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
.coeventslist .vote {
	color:#006400;
  float: left;
  font-weight: bold;
  background: none;
  border: 5px;
  position: relative;
  overflow:auto
}